#app-content {
    // border:1px solid green;
    height: 100%;
    
}
#app-header {
    // border:1px solid blueviolet
    background: #004f4f;
    color: #0dd;

    padding: 5px;
}
#app-center {
    // border:1px solid red
    color: aliceblue;
    padding: 5px;
}
#app-footer  {
    // border:1px solid gray
    color: aliceblue;
    padding: 5px;
}